<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<button class="start btn btn-success" (click)="undisable()">Pust Start</button>
<button [disabled]="isDisabled" class="end btn btn-danger">Pust End</button>

<input type="text" (input)="inpu($event)"  placeholder="enter name" class="in-name">

<!-- <input type="text" [(ngModel)]="info"  placeholder="enter name" class="in-name"> -->




<br>
<table border="solid black">
<!--
  <tr><td>{{info}}</td> <td>hi</td></tr> -->

  <tr><td>{{info}}</td> <td>hi</td></tr>
  <tr></tr>
</table>
