<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <hr>

<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <label >Username</label>
      <input type="text" class="fomr-control" [(ngModel)]="username">
      <p>{{ username }}</p>
      <button class="btn btn-primary"
      [disabled]="username==''"
      (click)="username=''">Reset User</button>
    </div>
  </div>
</div>

